/* stylesMenuPrincipal.css */
.root {
    -fx-background-color: linear-gradient(to bottom, #cbad8d, #d1c7bd);
}

.label-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding-bottom: 20px;
}

.button {
    -fx-background-color: #3a2d28;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 5);
}

.button:hover {
    -fx-background-color: #f1ede6;
    -fx-text-fill: #3a2d28;
}

