/* stylesProductos.css */

/* General styles for the window */
.root {
    -fx-font-family: Arial;
    -fx-background-color: linear-gradient(to bottom,  #cbad8d, #d1c7bd);
}

/* Styles for labels */
.label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #3a2d28;
}

/* Bold style for the product list label */
.label-title {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #3a2d28;
}

/* Styles for text fields */
.text-field {
    -fx-padding: 5px;
    -fx-border-color: #3a2d28;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-background-color: #ece4dc;
}

/* Styles for the product list */
.list-view {
    -fx-background-color: #ece4dc;
}

/* Styles for buttons */
.button {
    -fx-background-color: #3a2d28;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 5);

}

.button:hover {
    -fx-background-color: #f1ede6;
    -fx-text-fill: #3a2d28; /* Button text color on hover */
}

.button:pressed {
    -fx-background-color: #3a2d28; /* Button background color when pressed */
    -fx-text-fill: white; /* Button text color when pressed */
}

/* Estilo para las celdas de la lista de productos */
.list-cell {
    -fx-padding: 10px;
    -fx-border-color: #3a2d28;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #ece4dc;
    -fx-spacing: 5px;
}

.list-cell .text {
    -fx-font-size: 14px;
    -fx-text-fill: #3a2d28;
}